.question {
    border: solid 1px lightgrey;
    margin-bottom: 20px;
    padding: 15px;
}

.user-block {
    float:right;
 
    width: 150px;
}

.Nick {
    text-align: center;
}

.Paginator {
    text-align: center;
}
