{% extends "base.html" %}

{% block main %}

<form method="POST" action="">
    {% csrf_token %}
    {{ form }}
    <div>
        Tags: 
        <input type="text" class="span2" name='tags'>
    </div>
    <div>
        <input type="submit">
    </div>
</form>

{% endblock %}
