{% load inclusion %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet   " href="/css/my.css">
</head>

<body>
    <div class="navbar navbar-static-top">
        <div class="navbar-inner" style="min-width:835px;">
            <a class="brand" href="/">Ask Linnik</a>
            <form action='http://localhost/search/' method="get" class="navbar-form pull-left">
                <input type="text" class="span2" name='query'>
                <button type="submit" class="btn" value='Submit'>Search</button>
            </form>
            <a class="btn" href="/ask/" style="margin-left:5px; float:left;">Ask!</a>
            {% if user.is_authenticated %}
            {% include "inc/logged.html" %}
            {% else %}
            {% include "inc/notlogged.html" %}
            {% endif %}
        </div>
      </div>
    <div class="container">
      
      <div class="row">
            <div class="span8" style="padding-left:50px;">
            {% block main %}
            {% endblock %} 
            </div>
            <div class="span3">
                <div>
                    <h3>Popular tags</h3>
                    {% best_tags %}
                </div>
                <div>
                    <h3>Cool users</h3>
                    {% best_users %}
                </div>
            </div>
      </div>
    </div>
</body>

