{% extends "base.html" %}

{% block main %}
<h2>Sort by: <a href="/?new">New</a> / <a href="/?hot">Hot<a></h2>
    {% for q in question_list.object_list %}
    
        {% include "inc/question.html" %}
    
    {% endfor %}
    
    {% include "inc/paginator.html" %}
    
{% endblock %}
