{% extends "base.html" %}

{% block main %}

<h2>Log in <h2>
<form role="form">
  <div class="form-group">
    <label for="LoginInput">Login:</label>
    <input type="login" class="form-control" id="LoginInput" placeholder="Enter login">
  </div>
  
  <div class="form-group">
    <label for="PasswordInput">Password:</label>
    <input type="password" class="form-control" id="PasswordInput" placeholder="Enter password">
  </div>
  <button type="submit" class="btn btn-default">Login me</button>
</form>
{% endblock %}
