{% extends "base.html" %}

{% block main %}

<h4>There you can change your nick, email and password<h4>
<form method="post" action="">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Update my data" />
</form>
{% endblock %}
