{% extends "base.html" %}

{% block main %}

    {% include "inc/question.html" %}
    
    {% if user.is_authenticated %}
        <h4>Add your answer:</h4>
        <form method="POST" action="">
            {% csrf_token %}
            {{ form }}
            <div>
                <input type="submit">
            </div>
        </form>
    {% endif %}
    
    {% for a in answers %}
    
        {% include "inc/answer.html" %}
        
    {%endfor%}
      
    <div class="Paginator">
        {% if answers.has_previous %}
            <a href="?page={{ answers.previous_page_number }}" class="btn btn-primary">Prev</a>
        {% endif %}

        <span class="label label-info">
            Page {{ answers.number }} of {{ answers.paginator.num_pages }}
        </span>

        {% if answers.has_next %}
            <a href="?page={{ answers.next_page_number }}" class="btn btn-primary">Next</a>
        {% endif %}
    </div>
{% endblock %}
