{% extends "base.html" %}

{% block main %}

<h4>Welcome to family! Sign up now! <h4>
<form method="post" action="">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Create new user account" />
</form>
{% endblock %}
