<div class="question">
    <div class="row">
        <div class="span2">
            <div class="Nick">
                <h6>Author: {{ a.author.user }} </h6>
                {% if a.is_right == 1%}
                    <div>
                        <FONT COLOR=#A31092>Right answer!</FONT>
                    </div>
                {% endif %}
                
                {% if user.is_authenticated %}
                    {% if user.id == q.author_id %} 
                        
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="span5">
            <p> {{a.text}} </p>
        </div>
    </div>
</div>
