<div class="user-block" style="padding: 5px 0;">
    <img src="http://lorempixel.com/40/40/" style="float:left;">
    <span>
        <div class="Nick" >
            <h6 style=" margin: 0 0;">{{ user }} </h6>
        </div>
        <div style="text-align: center;">
            <a href="{% url 'profile' %}">Settings </a> 
            <a href="{% url 'logout' %}?next={{ request.get_full_path }}">Log out</a>
        </div>
    </span>
</div>
