<div class="user-block">
    <span>
        <a class="btn" href="{% url 'login' %}?next={{ request.path }}">Login</a> 
        <a class="btn" href="/signup/?next={{ request.get_full_path }}">Sign up</a>
    </span>
</div>
