<div class="Paginator">
    {% if question_list.has_previous %}
        <a href="?page={{ question_list.previous_page_number }}" class="btn btn-primary">Prev</a>
    {% endif %}

    <span class="label label-info">
        Page {{ question_list.number }} of {{ question_list.paginator.num_pages }}
    </span>

    {% if question_list.has_next %}
        <a href="?page={{ question_list.next_page_number }}" class="btn btn-primary">Next</a>
    {% endif %}
</div>
