<div class="question">
    <div class="row">
        <div class="span2">
            <img src="http://lorempixel.com/120/120/" class="img-polaroid">
            <div>
                <a href="#" class="img">
                    <img src="../img/plus.png" alt="..." style="width:40px;height:40px; class="img-circle"">
                </a>
                <span class="badge badge-success">{{q.rating}}</span></a>
                <a href="#" class="img">
                <img src="../img/minus.jpg" alt="..." style="width:40px;height:40px; class="img-circle"">
                </a>
                <div class="Nick">
                    {% if user.is_authenticated %}
                        {% if user.id == q.author.id %}
                            <h6>Author: You </h6>
                        {% else %}
                            <h6>Author: {{ q.author.user }} </h6>
                        {% endif %}
                    {% else %}
                        <h6>Author: {{ q.author.user }} </h6>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="span5">
            <h4><a href="/question/{{q.id}}"> {{q.title}} </a></h4>
            <p> {{q.text}} </p>
            <div>
                <a href="/question/{{q.id}}" class="btn btn-primary">Check answers ({{q.answer_set.count}} already)</a>
                <h5>Tags: </h5>
                <ul class="list">
                    {%for t in q.tag_list.all%}
                    <li>{{t.tag}}</li>
                    {%endfor%}
                </ul>
            </div>
        </div>
    </div>
</div>
